{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
<article>
<h2>Titre de l'article</h2>
<div class="metadata">Ecrit le 30/12/2019 à 14:44 dans la catégorie Politique<
</div>
<div class="content">
<img src="" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque nisi
, accumsan id quam eget, pulvinar maximus libero. Donec eget sagittis nibh. Morbi auctor,
augue non dignissim mattis, arcu eros ornare tellus, semper condimentum mauris metus ac ma
ssa. Vestibulum a porta mi. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque nisi
, accumsan id quam eget, pulvinar maximus libero.</p>
<a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
</div>
</article>
</section>

<section class="articles">
<article>
<h2>Titre de l'article</h2>
<div class="metadata">Ecrit le 30/12/2019 à 14:44 dans la catégorie Politique<
</div>
<div class="content">
<img src="" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque nisi
, accumsan id quam eget, pulvinar maximus libero. Donec eget sagittis nibh. Morbi auctor,
augue non dignissim mattis, arcu eros ornare tellus, semper condimentum mauris metus ac ma
ssa. Vestibulum a porta mi. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque nisi
, accumsan id quam eget, pulvinar maximus libero.</p>
<a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
</div>
</article>
</section>

<section class="articles">
<article>
<h2>Titre de l'article</h2>
<div class="metadata">Ecrit le 30/12/2019 à 14:44 dans la catégorie Politique<
</div>
<div class="content">
<img src="" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque nisi
, accumsan id quam eget, pulvinar maximus libero. Donec eget sagittis nibh. Morbi auctor,
augue non dignissim mattis, arcu eros ornare tellus, semper condimentum mauris metus ac ma
ssa. Vestibulum a porta mi. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque nisi
, accumsan id quam eget, pulvinar maximus libero.</p>
<a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
</div>
</article>
</section>

{% endblock %}
