{% extends 'base.html.twig' %}
{% block body %}
<section class="row articles">

<article class="col-md-3 mx-auto text-center border border-dark mb-3 p-3 mt-
3 mr-1">

<h2>Titre de l'article</h2>
<div class="metadata">Ecrit le 30/12/2019 à 14:44 dans la catégorie Politi
que</div>
<div class="content">
<img src="http://placehold.it/250x150" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque
nisi, accumsan id quam eget, pulvinar maximus libero. Donec eget sagittis nibh. Morbi auct
or, augue non dignissim mattis, arcu eros ornare tellus, semper condimentum mauris metus a
c massa. Vestibulum a porta mi. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque
nisi, accumsan id quam eget, pulvinar maximus libero.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque
nisi, accumsan id quam eget, pulvinar maximus libero. Donec eget sagittis nibh. Morbi auct
or, augue non dignissim mattis, arcu eros ornare tellus, semper condimentum mauris metus a
c massa. Vestibulum a porta mi. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque
nisi, accumsan id quam eget, pulvinar maximus libero. Donec eget sagittis nibh. Morbi auct
or, augue non dignissim mattis, arcu eros ornare tellus, semper condimentum mauris metus a
c massa. Vestibulum a porta mi. </p>
</div>
</article>
</section>
{% endblock %}